#!/bin/sh
# This script runs before any custom containers start to adjust container common defaults

# Set a limit for container logs. 104857600 Bytes = 100 Megabytes
sed -i 's/max_log_size = -1/max_log_size = {{udm_utilities_container_log_size}}/g' /etc/containers/libpod.conf;
